* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
}
.header {
  min-height: 60px;
  max-width: 100%;
  background-color: red;
  padding: 10px;
}
.header_logo {
  background-image: url(../img/Apple_logo_grey.svg.png);
  width: 50px;
  height: 50px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
.header_navbar {
}

.carousel {
  max-width: 100vw;
  height: calc(100vh - 70px);
}

.slides {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  min-width: 100%;
  min-height: 100%;
}

.slide {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  opacity: 0;
  z-index: 1;
  transition: opacity 0.25s;
  background: #333;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.slide:nth-of-type(1) {
  background-image: url(../img/iphone.png);
}

.slide:nth-of-type(2) {
  background-image: url(../img/ipad.png);
}

.slide:nth-of-type(3) {
  background-image: url(../img/watch.jpg);
}

.slide:nth-of-type(4) {
  background-image: url(../img/airpods.png);
}

.slide:nth-of-type(5) {
  background-image: url(../img/mac.jpg);
}
.slide:nth-of-type(6) {
  background-image: url(../img/accessories.jpg);
}
.slide:nth-of-type(7) {
  background-image: url(../img/tv&home.png);
}
.slide:nth-of-type(8) {
  background-image: url(../img/entertainment.png);
}

.active {
  opacity: 1;
  z-index: 2;
  transition-duration: 0.15s;
}

.controls_container {
  position: absolute;
  display: flex;
  z-index: 3;
  gap: 1235px;
}
.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
  color: gray;
  padding: 10px;
  cursor: pointer;
  width: 150px;
  height: calc(100vh - 70px);
  opacity: 0;
  transition-duration: 1s;

  &:hover {
    opacity: 0.3;
    transition-duration: 1s;
  }
}

.controls-pause {
  display: none;
}

.controls-prev,
.controls-next {
  font-size: 200px;
  display: none;
}

.indicators_container {
  display: flex;
  gap: 20px;
  position: absolute;
  z-index: 3;
  bottom: 30px;
}
.indicator {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  opacity: 0.2;

  background-color: #333;
  cursor: pointer;

  &.active {
    background-color: red;
    opacity: 1;
  }
}
